@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* this file exists only to use self-hosted font */
@font-face {
	font-family: 'Gen Vision Font';
	src: url('/customFont.woff') format('woff');
	src: url('/customFont.ttf') format('truetype');
}

html,
body,
#app {
	height: 100vh;
}

html {
	scroll-behavior: smooth;
}

.grow-on-hover {
	@apply transition-all hover:scale-110 duration-200;
}

.page-card {
	@apply snap-start w-full h-full py-28 px-8 sm:px-10 sm:py-32 flex flex-col;
}
